
# Ignore everything in the root
/*

# Un-ignore needed files
!/.gitignore
!/.config/bat/config
!/.config/git/global.conf
!/.config/git/global.ignore
!/.config/nvim/init.vim
!/.config/tmux/tmux.conf
!/.config/alacritty.yml
!/.config/psql.rc
!/.bash_profile
!/.psqlrc
!/.tmux.conf

